<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plex Autoscan</title>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto text-center" style="padding-top: 10px;">
                <h1 style="margin: 10px; margin-bottom: 150px;">Plex Autoscan</h1>
                <h3 class="text-left" style="margin: 10px;">Success</h3>
                <div class="alert alert-info" role="alert">
                    <code style="color: #000;">{{ path }}</code> was added to scan queue.
                </div>
            </div>
        </div>
    </div>
</body>
</html>
